// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pre-line {
    white-space : pre-line;
<<<<<<< HEAD
}

.post {
    .card-content {
        .thumbnail {
            vertical-align: middle;
        }
        .content {
            margin: 20px 0;
        }
    }
=======
>>>>>>> af4017824b688259477c27d0c7e3d0a0d4b38209
}