/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'materialize'
 *= require_tree .
 *= require_self
 */

.nav-wrapper {
    background-color: #ffccbc;
    color: #000000;
}

nav .brand-logo {
    position: absolute;
    color: #6d4c41;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}

nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #6d4c41;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

h2 {
    color: #6d4c41;
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}

label {
    font-size: 0.8rem;
    color: #bcaaa4;
}

a {
    text-decoration: none;
}