/*
Error: File to import not found or unreadable: bootstrap-sprockets.
        on line 5 of /home/ec2-user/environment/sns/app/assets/stylesheets/posts.scss

1: // Place all the styles related to the Posts controller here.
2: // They will automatically be included in application.css.
3: // You can use Sass (SCSS) here: http://sass-lang.com/
4: 
5: @import "bootstrap-sprockets";
6: @import "bootstrap"; 
7: 
8: .pre-line {
9:     white-space : pre-line;
10: }

Backtrace:
/home/ec2-user/environment/sns/app/assets/stylesheets/posts.scss:5
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/import_node.rb:67:in `rescue in import'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/import_node.rb:45:in `import'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/import_node.rb:37:in `css_import?'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:161:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:10:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/bin/scss:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.4.1/bin/scss:23:in `load'
/usr/local/rvm/gems/ruby-2.4.1/bin/scss:23:in `<main>'
/usr/local/rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `<main>'
 *= require 'materialize'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap"; 

.pre-line {
white-space : pre-line;
}

.card-content .cc {
		border-width: 1.5px;
		border-color: #e1bee7;
		border-style: dotted;
		padding-right: 5px;
		padding-left: 50px;
		padding-top: 5px;
		padding-bottom: 20px;
}


.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #ec407a;
    margin-right: 24px;
    transition: color .3s ease;
    text-transform: uppercase;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 15px;
    bottom: 0;
    width: 100%;
}


button{
  background:#01579b;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#01579b;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #01579b;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}












